/* set main menu spacing */
.nav-primary {
background: #002C5C;
border-top: 10px solid #002C5C;
border-bottom: 10px solid #002C5C;	
}

.size-full.wp-image-142.alignright {
width:65%;
margin: 0 12% 10px 15px;
}

.header-image .site-header .wrap .title-area {
height: 220px !important;
}
.site-header {
padding-top: 5px !important;
}

/* remove border around buy now in header on focus */
input:focus{
    outline: 0;
}

#ez-fat-footer-2.one-third .textwidget {
text-align: center;	
}

/* primary widget area */
.sidebar-primary .widget-title.widgettitle {
	background: #002C5C;
	color: #FFF !important;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#black-studio-tinymce-14 {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* facebook share button footer */
#black-studio-tinymce-15 {
background: #002C5C;
float:right;
margin-top: -17px;
padding-right: 10px;
}

#black-studio-tinymce-16 {
float:right;
margin-top: 17px;
}

.site-footer .widget.Social_Widget {
float: right;
padding-right: 0px;
margin-top: -27px;
}

.site-footer .creds {
float: right;
text-align: center;
width: 100%;
}

/* fat footer sections */
p.ktext {
	padding-left: 8px!important;
}

#black-studio-tinymce-6 .widget-wrap, .kebo_twitter_feed_widget {
min-height: 315px;
-max-height: 315px;
}
.widget.kebo_twitter_feed_widget {
	background-color:#FFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.kebo-tweets.list.light {
	padding-top: 5px;
	padding-left: 2px;
	padding-right: 2px !important;
}
.kmeta, .ktext , .ktweet{
	padding-left: 5px;
	padding-right: 5px !important;
}
.ktext{
	color:#002C5C;
}
#mc4wp-form-1.form, #mc4wp-form-1.form p  {
color:#002C5C;
margin-bottom: 0px;
-background-color:#FFF;
}
#mc4wp_email {
margin-bottom: 10px;
}
#black-studio-tinymce-6.widget.widget_black_studio_tinymce, #black-studio-tinymce-4.widget.widget_black_studio_tinymce{
background-color:#FFF;
border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
#black-studio-tinymce-6.widget.widget_black_studio_tinymce h2{
color:#002C5C;
}

/* Buy Now Button */

#black-studio-tinymce-6 a, #black-studio-tinymce-6 a:visited, #black-studio-tinymce-6 a {
color: #FFFFFF !important;
} 
.myButton {
	-moz-box-shadow: 0px 1px 0px 0px #dd2396;
	-webkit-box-shadow: 0px 1px 0px 0px #dd2396;
	box-shadow: 0px 1px 0px 0px #dd2396;
	background-color:#dd2396;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dd2396;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Open Sans', sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #dd2396;
		
}
.myButton:hover {
	background-color:#dd2396;
}
.myButton:active {
	position:relative;
	top:1px;
}

/* set Fat Footer title colors and borders */
#ez-fat-footer-container .ez-widget-area h4 {
	color: #FFFFFF;
font-weight: 400;
-display:none;
background: #002C5C;
text-align: center;
border-top-left-radius: 5px;
	border-top-right-radius: 5px;

}
#ez-fat-footer-1.one-third,#ez-fat-footer-2.one-third,#ez-fat-footer-3.one-third {
border-style: solid;
border-color: #002C5C;
border-width: 0px;
-display: none	
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#ez-fat-footer-container .ez-widget-area h4{
padding: 0 0px 0 0px;
}
#ez-fat-footer-1.one-third .textwidget,#ez-fat-footer-2.one-third .textwidget,#ez-fat-footer-3.one-third .textwidget{
padding: 0 8px 0 8px;
}

/* set sidebars title colors and borders */
#black-studio-tinymce-7 .widget-title, #black-studio-tinymce-8 .widget-title,#black-studio-tinymce-9 .widget-title, #black-studio-tinymce-10 .widget-title, .posts-in-sidebar h4  {
	color: #FFFFFF;
	background: #002C5C;
    border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#black-studio-tinymce-7.widget.widget_black_studio_tinymce, #black-studio-tinymce-8.widget.widget_black_studio_tinymce {
border-top-left-radius: 9px !important;
	border-top-right-radius: 9px !important;
}
#pis_posts_in_sidebar-2 .widget-title, #pis_posts_in_sidebar-6 .widget-title,#pis_posts_in_sidebar-5 .widget-title,#pis_posts_in_sidebar-3 .widget-title {
background: #002C5C;
border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.widget.widget_black_studio_tinymce {
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}
.posts-in-sidebar{
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}
#pis_posts_in_sidebar-2.widget.posts-in-sidebar, #pis_posts_in_sidebar-3.widget.posts-in-sidebar {
border-top-left-radius: 9px !important;
	border-top-right-radius: 9px !important;
}

/* set social media area on menubar */
.widget.Social_Widget {
	float:right;
	padding-right: 20px;
}

#nav .widget {
	float: right;
	margin-right: 2px;
}
 
.socialmedia-buttons {
	margin-top: 6px;
	margin-right: 3px;
}
 
.menu-primary .socialmedia-buttons a {
	float: left;
	border-right: none;
	padding: 0;
}
 
.menu-primary .socialmedia-buttons img {
	margin-bottom: 0;
}



.header-image .site-header .wrap .title-area {
background: url(images/header-left.jpg) left top no-repeat !important;
	width: auto;
max-width: 350px;
}
.hcol.hmenu_1_of_2 {
	padding-top: 15px;
	padding-left: 10px;	
}

.header-container .hmenu_2_of_2 {
width: 32.1%;
margin: auto 0 0 12%;
}
.header-container .hmenu_1_of_2 {
width: 32.1% !important;
margin: auto 0 0 10% !important;
}
/* display single business section */
.single-layout {
	padding-left:20px;
	width:auto;
	max-width:600px;
	float: left;
	
}
/* set hyperlink color */
-.menu-item-113 .a,.menu-item-113 a:visited {
color: #FFFFFF !important;
}
-.menu-item-113 a:hover  {
color: #E6E1E5;
}

/*front Page header responsive */


/* display header section */
.hcol {
	display: block;
	float:left;
	margin: auto 0% 0% 1.6%;
}
.hcol:first-child { 
	margin-left: 8% ;
	
}

.header-container {
	max-width:1200px;  
	margin-left:auto;
	margin-right:auto;
	
}

/*  GROUPING  */
.hgroup:before,
.hgroup:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}

.hsection  {
	max-width: 920;
	
}

.hmenu_2_of_2 {
	width: 10.1%;
}
.hmenu_1_of_2 {
	width: 35.2%;
}

/* .hh-wrap {
margin-left: auto;
margin-right: auto;
text-align: center;
position: relative;
	height: 250px;
	padding-top: 20px;
	max-width: 920px;
}
*/

/* change size of icons on bottom of listings page */
.fa-2x {
font-size: 1.5em;
}


.site-header {
	padding-top: 20px;
}

.sidebar-primary h4, .sidebar-secondary h4 {
	font-size: 18px;
	background:#98A3AD;
	font-weight:500;
}




#black-studio-tinymce-5 .widget-title {
display:none;
}
.ez-widget-area h4 {
margin: 0 0 5px;
padding: 0 0 5px;
font-weight: 300;
}


.textwidget .welcome-local {
	background-color:#E6E1E5; 
}
/* sort buttons */
.title-button1,.title-button,.restaurants-button,.restaurants-button1,.lodging-button1,.lodging-button,.arts-entertainment-button1,.arts-entertainment-button {
	background-color:#98A3AD;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	
	display:inline-block;
	cursor:pointer;
	color:#002C5C;
	//font-family:Courier New;
	font-size:18px;
	color:FFFFFF !important;
	padding:5px 12px;
	text-decoration:none;
	margin-bottom:20px;
}
.title-button:hover,.restaurants-button:hover,.lodging-button:hover,.arts-entertainment-button:hover {
	background-color:#FFCD00 !important;
}
.title-button:active,.restaurants-button:active,.lodging-button:active,.arts-entertainment-button:active {
	position:relative;
	top:1px;
	background-color:#FFCD00;
}

.page-id-80 .title-button {
	background-color:#98A3AD;
}	

.title-button1 {
	background-color:#FFCD00 !important;
}
 .restaurants-button1 {
	background-color:#FFCD00;
}

.lodging-button1 {
	background-color:#FFCD00;
}
.arts-entertainment-button1 {
	background-color:#FFCD00;
}


/* set showbiz front scroller */
div.mediaholder {
	background-color:#E6E1E5!important;
	border-left: 1px solid #98A3AD !important;
	border-right: 1px solid #98A3AD!important;
	border-top: 1px solid #98A3AD!important;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-bottom: 0px !important;
}
.detailholder {
	background-color:#E6E1E5;
	border-bottom: 1px solid #98A3AD;
	border-left: 1px solid #98A3AD;
	border-right: 1px solid #98A3AD;
	border-top: 1px solid #E6E1E5;
	margin-top: 0px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-bottom: 5px;
}
.showbiz-description{
	color: #002C5C !important;
	font-weight: 700;
}
.showbiz-navigation.center{
	margin-bottom: 0px !important;
	margin-top: 10px !important;
}
/* set borders in sidebar widget areas */
#pis_posts_in_sidebar-2.widget.posts-in-sidebar, 
#black-studio-tinymce-7.widget.widget_black_studio_tinymce,
#pis_posts_in_sidebar-3.widget.posts-in-sidebar,
#black-studio-tinymce-8.widget.widget_black_studio_tinymce{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.posts-in-sidebar .widget-title.widgettitle {
	
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

/* space above thumbnails */
.col.span_1_of_2 {
	padding-top: 4px;
}

/* set Welcome Local front page title */
.welcome-local {
	text-align: center;
	font-size:22px;
	color: #002C5C;
}

/* set business titles */
.business-title {
	font-weight: 600!important;
	font-size: 18px!important;
}
.business-text {
	color: #98A3AD!important;
	line-height: 1.3 !important;
	padding-bottom:5px;
}

/* EZ-Home Top Header Titles */
#ez-home-top-container .widget-title {
background-color: #FFFFFF;
color: #0081C9 !important;
padding: 0px 0 3px 0px;
font-weight: 700;
}
#ez-home-top-2 .widget-title {
background-color: #FFFFFF;
color: #6CC049 !important;
padding: 0px 0 3px 0px;
font-weight: 700;
}
#ez-home-container-wrap .ez-widget-area h4, #ez-home-slider-container-wrap .ez-widget-area h4 {
border-bottom: 1px solid #98A3AD;
color: #FFFFFF;
font-family: 'Open Sans', sans-serif;
font-size: 26px;
}

/* set hyperlink color */
.a, a:visited, a  {
color: #002C5C;
}

.google-icon .a, .google-icon a:visited, .google-icon a  {
color: #DD2396;
}
.menu-item-63 a, .menu-item-17 a ,.menu-item-113 a {
color: #E6E1E5;	
}

/* set height of Logo image */
.header-image .site-header .wrap .title-area {
background: url(images/lr-header1.jpg) left top no-repeat;
height: 250px;
}

/* set top border of inner content area */
.site-inner {
background: #FFFFFF;
border-top: 5px solid #DD2396;
}

.captions {
	color: #002C5C !important;
	line-height: 1.3625;
}

/* set top of page, remove space */
.site-container {
margin: 0px auto 0px !important;
}

.content {
padding: 0px 20px 10px 20px;
}

/* set icon spacing in business info boxes */
.google-icon {
	padding-top: 8px;
	color: #DD2396;
	border-top:1px solid #98A3AD;
		width: 90%;
}

.thumbnail img {
	border:1px solid #98A3AD;
}

/* heading title on Sales-Items Page */
.gridcontainer h4 {
	font-size: 24px;
	font-color: #002C5C !important;
	
}	

.gridcontainer {
	border-top:1px solid #98A3AD;
	border-bottom:1px solid #98A3AD;
	border-right:1px solid #98A3AD;
	border-left:1px solid #98A3AD;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
		padding-left: 10px;
	background-color:#E6E1E5;
}	

.content .section.group {
	border-top:1px solid #98A3AD;
	border-bottom:1px solid #98A3AD;
	border-right:1px solid #98A3AD;
	border-left:1px solid #98A3AD;
		margin-bottom: 20px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	line-height: 1.2625;
}
.content .section.group img {
	
		margin-left: 10px;
	
}



.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF THREE  */

.span_2_of_2 {
	width: 66.1%;
}
.span_1_of_2 {
	width: 32.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	
	.span_2_of_2 {
		width: 100%; 
	}
	.span_1_of_2 {
		width: 100%;
	}
}


/* Menu Images */

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 .5% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}
                                               
					
/*  GRID OF TWO  */
.menu_2_of_2 {
	width: 100%;
}
.menu_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.menu_2_of_2 {
		width: 100%; 
	}
	.menu_1_of_2 {
		width: 100%;
	}
}

@media only screen and (max-width: 320px) {
.header-image .site-header .wrap .title-area {
background: url(/wp-content/uploads/dynamik-gen/theme/images/localroots-iphone.jpg) center top no-repeat !important;
width: auto;
max-width: 320px;
height: 150px;
margin: 0px auto 0 30px;
}
}